<div>
  <div class="md-form mt-0 w-25 mt-5 ml-auto mr-auto" style="display:flex">
    <input appHotkeysBlocker [ngModel]="searchText" (ngModelChange)="searchResult($event)" class="form-control mr-1"
           type="text"
           placeholder="Search" aria-label="Search">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Price Range
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item" type="button" (click)="sortPrice(false)">Ascending ↑</button>
        <button class="dropdown-item" type="button" (click)="sortPrice(true)">Descending ↓</button>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading; else block" class="mt-4" style="position:absolute; left: 45%;z-index: 9">
    <app-loader></app-loader>
  </div>
  <ng-template #block>
    <app-product-row [product]="product" (myOutput)="myMethod($event)"></app-product-row>
  </ng-template>
  <h3 style="display: flex;justify-content: center;margin-top: 100px;margin-right: 75px" *ngIf="!product?.length">No
    result</h3>
</div>
